.footer {
  background-color: transparent;
  color: white;
  font-weight: bold;
  padding: 2rem;
  font-size: large;
  top:180px;
}

.content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.column1{
  position:relative;
  left:1rem;
}
.column2{
  position:relative;
  left:2.8rem;
}

.column1 a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.logo {
  max-width: 180px;
  margin-bottom: 1rem;
}

 .ul {
  list-style: none;
  margin: 0;
  padding: 0;
  ;
}

 .ul li a {
  color: #fff;
  list-style: none;
}

.h3 {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

@media (max-width: 785px) {
  .logo{
    max-width: 140px;

  }
  .content{
    margin:3rem;
  }
  
  .column {
    position:relative;
    margin-bottom: 0;
  }
  
  .column2{
    position:relative;
    left:-0.4rem;

  }
}
@media(max-width:550px ){
  .logo{
    position:relative;
    left:1rem;

  }
  .column,.column1,.column2,.column3{
    position:relative;
    left:3rem;
  }
  .column p,.column3 p{
    position:relative;
    margin-left:-3rem;
  }
  .socialLinks{
    margin-left:-2rem;
  }
  .copy p{
    position:relative;
    width:20rem;
    left: 1rem;
  }

}

.socialLinks {
  left: -40px;
}
.socialLinks li {
  display: inline-block;
 
}

.socialLinks li:last-child {
  margin-right: 0;
}

.socialLinks a {
  color: #fff;
  font-size: 2rem;
  padding-right: 1rem;
 
}

.socialLinks a:hover {
  opacity: 0.8;
}

.copy {
    background-color:transparent;
    text-align: center;
    padding: 1rem;
  }
  
  .copy p {
    margin: 0;
    color: white;
    padding-top: 3rem;
    font-weight:bolder;
  }

  .column3 h3 p{
    padding-left: 3rem;
  }