
.container{
    display : flex;
    flex-grow:1;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    justify-self: center;
    object-fit: cover;
    margin: 2rem 3rem;
    

} 
.blurBg {
    position: absolute;
    z-index: -1;
    top: -35%;
    left: 72%;
    width: 30%;
    height: 70%;
    border-radius: 50%;
    background: linear-gradient(to top right, rgba(243, 179, 29, 0.916), rgba(204, 159, 13, 0.8));
    filter: blur(80px);
    box-shadow: -5rem 8rem    #410596 ;
}

.blurBg2{
    position: absolute;
    z-index: -1;
    top: 52%;
    left: 0;
    width: 30%;
    height: 70%;
    border-radius: 50%;
    background: linear-gradient(to top right, rgba(243, 179, 29, 0.916), rgba(204, 159, 13, 0.8));
    filter: blur(80px);
    box-shadow: -5rem 8rem    #410596 ;
}
  
.title{
    margin :0;
    padding : 0;
    font-size: clamp(2em, 10vw, 7em);
}
.subtitle{
    margin: 0;
    padding: 0;
    font-size: clamp(1em, 3vw, 2.5em);
}


.container1{
    margin :0;
    top: 4rem;
   display: flex;
   align-items: center;
   flex-direction: column;
   
    
}
@media (max-width:991px){
    .blurBg {

        filter: blur(70px);
    }
    .blurBg2{

        filter: blur(70px);
    }
    
    
    
}
@media (max-width:630px){
    .container1{
        font-size: 0.9rem;
    }
    .blurBg {

        filter: blur(60px);
    }
    .blurBg2{

        filter: blur(60px);
    }
    
   
}
@media (max-width:554px){
    .container1{
        top:2rem;
    }
    .blurBg{

        filter: blur(40px);
        box-shadow: -4rem 5rem    #410596 ;
    }
    .blurBg2{

        filter: blur(40px);
        box-shadow: -4rem 5rem    #410596 ;
    }
    
    
    
}

@media(max-width:400px){
    .container1{
        top:0;
       
    }
    .blurBg {

        filter: blur(50px);
        width: 30%;
        height: 40%;
        box-shadow: -4rem 5rem    #410596 ;
    }
    .blurBg2{

        filter: blur(40px);
        width: 30%;
        height: 40%;
        box-shadow: -4rem 5rem    #410596 ;
        top:30%;
    }

}



