.header{
  justify-content: space-between;
  align-items: center;
} 
.navbar {
  display: flex;
  justify-content: space-between;
  place-items: center;
  height: 10vh;
  width: 100;
  margin: 32px clamp(1rem, 2.5vw, 2rem);
  padding: 0px 15px;
  text-decoration: none;
}
.content {
  color: white;
  margin-right: max(10px, 0.5em);
  list-style: none;
  font-size: clamp(1rem, 2.5vw, 2rem);
  font-weight: 600;
  text-decoration: none;
}
.logo{
  width : min(25vw, 10em);
  aspect-ratio: 1;
  margin: 0 auto;
}

.content:hover {
  color: rgb(192, 190, 190);
  text-decoration: underline;
  text-underline-offset: 10px;

}
.activeText {
  text-decoration: underline;
  content: " (active)";
  text-underline-offset: 10px;
  color: rgb(198, 196, 196);
  
}


   



  

